body {
  color: #333;
}

img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.row {
  padding-bottom: 30px;
}

.amazon-container h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

#recipes {
  .bg-chili,
  .bg-chicken-tikka-masala,
  .bg-saag-paneer,
  .bg-congee,
  .bg-pho {
    height: 250px;
    border-radius: 8px;
    border: 3px solid white;
  }
  .bg-chili {
    background: url(#{ image_path('chili-bread-in-bowl.jpg') });
    background-size: cover;
  }

  .bg-chicken-tikka-masala {
    background: url(#{ image_path('chicken-tikka-masala-served.jpg') });
    background-size: cover;
  }

  .bg-saag-paneer {
    background: url(#{ image_path('saag-vindaloo-naan-plated.jpg') });
    background-size: cover;
  }

  .bg-pho {
    background: url(#{ image_path('pho.jpg') });
    background-size: cover;
  }

  .bg-congee {
    background: url(#{ image_path('chinese-century-egg-and-pork-congee-cover.jpg') });
    background-size: cover;
  }

  a {
    color: #eee;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
  }
  a:hover {
    text-decoration: none;
  }
}

.recipe-panel {
  background-color: #efefef;
  padding-top: 15px;
}

// always shows the scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
